# Configuración de AWS S3
AWS_ACCESS_KEY_ID=your_access_key_here
AWS_SECRET_ACCESS_KEY=your_secret_key_here
AWS_REGION=us-east-1

# Configuración del bucket S3
S3_BUCKET=health-prediction-mlops
S3_MODEL_PATH=models/health_model.onnx
S3_PREDICTIONS_DEV=predictions/predicciones_dev.txt
S3_PREDICTIONS_PROD=predictions/predicciones_prod.txt

# Ambiente (dev o prod)
ENVIRONMENT=dev

# Configuración de datos de prueba
S3_TEST_DATA_PATH=test_data/test_data.csv

